@import 'normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* Primary Color */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* Accent */
  --Blue: hsl(248, 32%, 49%);

  /* Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  /* Border-shadow */
  --gray: rgba(105, 103, 103, 0.5);
  /* Font family */
  --font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--Red);
  background-image: url('./images/bg-intro-mobile.png');
  font-family: var(--font-family);
  /* max-height: 100vh; */
}
/* Article  */

.article-info {
  display: flex;
  flex-direction: column;
  margin: 3rem 1.5rem 3rem 1.5rem;
}

.title,
.description {
  color: white;
  font-weight: 700;
  text-align: center;
}
.title {
  margin: 1rem;
  font-size: 25px;
}
.description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

/*  Form-section */

.form-section {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem 3rem 1.5rem;
  margin: auto;
}

/* Trial Button */

.trial-button {
  padding: 1rem;
  background-color: var(--Blue);
  color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 5px var(--gray);
  line-height: 1.7;
  margin: 1rem;
  border: none;
}

/* Form */

.form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px var(--gray);
  margin: 1rem;
}

.fieldset {
  border: none;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 0;
  min-width: 50vw;
}

.first-name,
.second-name,
.email,
.password,
.claim-button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--Grayish-Blue);
  color: var(--Dark-Blue);
  font-weight: 500;
  width: auto;
}

.claim-button {
  background-color: var(--Green);
  color: white;
  letter-spacing: 0.5px;
}

.terms-info {
  text-align: center;
  color: var(--Grayish-Blue);
  font-weight: 500;
  margin: 0.5rem 1.5rem 2rem 1.5rem;
  font-size: 0.7rem;
}
.bold-conditions-text {
  color: var(--Red);
  font-weight: 700;
}
/* Input background image */
.first-input,
.second-input,
.email_input,
.password_input {
  background-image: url(./images/icon-error.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  background-origin: content-box;
  background-image: none;
}

/* labels */
.first-name-label,
.second-name-label,
.email-label,
.password-label {
  color: var(--Red);
  display: flex;
  justify-content: end;
  font-style: italic;
  font-size: 1rem;
  margin: 0 0 1rem 0;
  display: none;
}
/* Media Queries */

@media screen and (min-width: 900px) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
  }
  .form-section,
  .article-info {
    margin: 50px;
    display: flex;
  }
  .form-section {
    max-width: 40vw;
  }
  .fieldset {
    min-width: 30vw;
  }
  .article-info {
    text-align: left;
    margin-right: 0;
    max-width: 40vw;
  }
  .title,
  .description {
    text-align: left;
    margin-left: 0;
  }
}
