@import 'normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* Primary Color */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* Accent */
  --Blue: hsl(248, 32%, 49%);

  /* Neutral */
  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  /* Border-shadow */
  --gray: rgba(105, 103, 103, 0.5);
  /* Font family */
  --font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--Red);
  background-image: url('./images/bg-intro-mobile.png');
  font-family: var(--font-family);
}
/* Article  */

.article-info {
  display: flex;
  flex-direction: column;
  margin: 3rem 1.5rem 3rem 1.5rem;
}

.title,
.description {
  color: white;
  font-weight: 700;
  text-align: center;
}

.description {
  font-weight: 300;
  font-size: 16px;
  margin: 1rem;
}

/*  Form-section */

.form-section {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem 3rem 1.5rem;
}

/* Trial Button */

.trial-button {
  padding: 1rem;
  background-color: var(--Blue);
  color: white;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 5px var(--gray);
  line-height: 1.7;
}

/* Form */

.form {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 7px var(--gray);
}

.fieldset {
  border: none;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.first-name,
.second-name,
.email,
.password,
.claim-button {
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--Grayish-Blue);
  color: var(--Dark-Blue);
  font-weight: 500;
  width: auto;
}

.claim-button {
  background-color: var(--Green);
  color: white;
  letter-spacing: 0.5px;
}

.terms-info {
  text-align: center;
  color: var(--Grayish-Blue);
  font-weight: 500;
  margin: 0.5rem 1.5rem 2rem 1.5rem;
  font-size: 0.7rem;
}
.bold-conditions-text {
  color: var(--Red);
  font-weight: 700;
}
